.sidebar {
    width: 260px;
    z-index: 10;
    bottom: 0;
    position: fixed;
    top: 0;
    padding: 1rem;
    background-color: $white;
    display: flex;
    flex-direction: column;

    .logo {
        padding: 24px;
        text-align: center;

        img {
            width: 100%;
        }
    }

    .nav {
        flex-direction: column;

        .nav-item {
            .nav-link {
                cursor: pointer;
                font-weight: bold;
                color: $gray-700;
                display: flex;
                align-items: center;

                .nav-icon {
                    width: 17px;
                    margin-right: 15px;
                    justify-content: left;
                }
              
                &:hover {
                    color: $primary  !important;
                    background-color: $gray-200;
                }
                &.active {
                    color: $primary  !important;
                    background-color: $gray-200;
                }

                .nav-drop {
                    position: absolute;
                    right: 25px;

                }
            }

            .collapse ul {

                padding: 20px 0px 20px 20px;

                li {

                    border-left: 1px solid $gray-700;

                    .nav-link {
                        margin-left: 15px;
                    }
                }

                list-style-type: none;

            }

        }
    }

}